@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

@media (max-width: 996px) {
  .center-if-sm {
    text-align: center;
  }
}

.menu__link, .menu__link:hover {
  border-radius: 0px;
}

.button--secondary {
  border-radius: 0px;
}

.button {
  border-radius: 0px;
}

.codeBlock_23N8, .navbar__item.dropdown {
  border-radius: 0px;
}

.pagination-nav__link {
  border-radius: 0px;
}
