@media (max-width: 996px) {
  .body {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}
}

div[class*="pipeline-avatar"] {
  border-radius: 0px;
}

button[class*="SolidButton"] {
  overflow: visible;
  background-color: blue !important;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  text-decoration: none;
  border: 4px solid red !important;
  cursor: pointer;
border-radius: 4px !important;
width: 100% !important;
}

.Box__StyledBox-sc{
  overflow: visible;
  background-color: #1c1ce1 !important;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  text-decoration: none;
  border: 1px solid #333 !important;
  cursor: pointer;
border-radius: 4px !important;
width: 100% !important;
}

input.Box__StyledBox-sc-12bsn2y-0.Input__StyledInput-sc-1l6guh8-0.ccvWen.jAxhYb.pipeline-input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0rem;
  text-indent: .3rem;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f8f9;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input.Box__StyledBox-sc-12bsn2y-0.Input__StyledInput-sc-1l6guh8-0.ccvWen.jAxhYb.pipeline-input:hover {
  background-color: #fff;
}

input.Box__StyledBox-sc-12bsn2y-0.Input__StyledInput-sc-1l6guh8-0.ccvWen.jAxhYb.pipeline-input:focus {
color: #495057;
background-color: #fff;
border: 1px solid #1c1ce1;
box-shadow: 4px 4px 0 0 rgb(210 210 249);
outline: 0;
}

.algo-btn-solid {
  overflow: visible;
  background-color: #1c1ce1 !important;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  text-decoration: none;
  border: 1px solid #333 !important;
  cursor: pointer;
border-radius: 4px !important;
width: 100% !important;
margin-bottom: 1rem;
}

.SolidButton {
  overflow: visible;
  background-color: #1c1ce1 !important;
  color: #fff!important;
  display: inline-block;
  white-space: pre-wrap;
  text-decoration: none;
  border: 1px solid #333 !important;
  cursor: pointer;
border-radius: 4px !important;
width: 100% !important;
}

.styled.button {
overflow: visible;
background-color: #1c1ce1 !important;
color: #fff!important;
display: inline-block;
white-space: pre-wrap;
text-decoration: none;
border: 1px solid #333 !important;
cursor: pointer;
border-radius: 4px !important;
width: 100% !important;
}

.Box__StyledBox {
color: #1c1ce1;
border: 1px solid #1c1ce1 !important;
box-shadow: 4px 4px 0 0 rgb(210 210 249) !important;
background: rgba(28,28,225,.8) !important;
}


button:hover {
    color: #1c1ce1;
    border: 1px solid #1c1ce1 !important;
    box-shadow: 4px 4px 0 0 rgb(210 210 249) !important;
    background: rgba(28,28,225,.8) !important;
}
button:active {
background-color: #1616b4 !important;
}

div#root {
  height: 100vh;
  padding: 7vh;
}

.AlgoSendButton.button {
  color: #fff !important;
  background: #FFFFFF !important;
  border: 10px solid #ccc;
}

html {
  background-color: #f4f4f4;
}

.pipeline-shell {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%), 4px 4px 0 0 rgb(210 210 249);
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem;
  flex-direction: column !important;
}

button.Box__StyledBox-sc-12bsn2y-0.BaseButton__StyledButton-sc-1hj5v8i-0.SolidButton__StyledSolidButton-sc-16jeih0-0.jjafTl.hBTdxa.jcgxFN {
  background-color: #1c1ce1 !important;
}

.Box__StyledBox-sc-12bsn2y-0.irfQmq.pipeline-box {
  margin: 1rem;
}

.ozrNy th, .ozrNy td {
  padding: 0rem !important;
}

table#transTable {
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: .5rem;
}
