.AaronsButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
